body {
    background-color: white;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Устанавливает минимальную высоту для body */
}

.container {
    background-color: #f8f8f8;
    border: 2px solid #007bff; /* Синий цвет границы */
    border-radius: 15px; /* Закругленные края */
    padding: 20px; /* Отступ внутри контейнера */
    width: 50%; /* Ширина контейнера */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box; /* Учитывает отступы и границы */
    margin: 20px auto; /* Центрирует контейнер с отступами сверху и снизу */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff; /* Синий цвет для шапки */
    padding: 10px 20px;
}

.header-container h1 {
    color: white; /* Белый цвет текста в шапке */
}

.container h1 {
    color: #007bff; /* Синий цвет заголовка формы */
}

main {
    flex-grow: 1; /* Позволяет main занимать оставшееся пространство */
    display: flex;
    justify-content: center;
    align-items: start; /* Выровнять по верхнему краю */
    text-align: center;
    padding-top: 20px; /* Отступ сверху для главного содержимого */
    padding-bottom: 20px; /* Отступ снизу для главного содержимого */
}

.big-buttons {
   background-color: #007bff; /* Синяя кнопка */
   color: white;
   border: none;
   border-radius: 5px; /* Закругленные края кнопки */
   padding: 10px;
   cursor: pointer;
   width: 97%;
   margin-top: 10px;
}

button:hover {
    background-color: #0056b3; /* Темнее при наведении */
}

.add-button, .email-button {
    background-color: #007bff; /* Синяя кнопка */
    color: white;
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругленные края кнопки */
    padding: 5px 10px; /* Отступы внутри кнопки */
    cursor: pointer; /* Указатель при наведении */
    margin-left: 10px; /* Отступ слева от кнопки */
}

.add-button:hover, .email-button:hover {
    background-color: #0056b3; /* Темнее при наведении */
}

.results-container {
    max-height: 320px; /* Максимальная высота для прокрутки */
    overflow-y: auto; /* Вертикальная прокрутка */
    border: 2px solid #007bff; /* Синий цвет границы */
    border-radius: 15px; /* Закругленные края */
    padding: 10px; /* Отступ внутри */
    background-color: #f8f8f8; /* Цвет фона */
    margin-bottom: 15px; /* Отступ снизу перед следующими элементами */
}

.result-item {
    display: flex; /* Используем Flexbox для расположения элементов */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Центрируем по вертикали */
    border: 1px solid #ccc; /* Цвет границы элемента */
    border-radius: 10px; /* Закругленные края */
    padding: 10px; /* Отступы внутри элемента */
    margin-bottom: 10px; /* Отступ между элементами */
}

.button-container {
    display: flex; /* Используем Flexbox для кнопок */
    justify-content: space-between; /* Располагаем кнопки по краям */
}

footer {
   text-align: left; /* Выровнять текст в подвале слева */
   padding: 10px 20px;
   background-color: #007bff; /* Синий цвет для подвала */
   color: white; /* Белый цвет текста в подвале */
}
input[readonly] {
    background-color: #e9ecef; /* Светло-серый фон для неактивного поля */
    cursor: not-allowed; /* Курсор для неактивного состояния */
}

.password-container {
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1; /* Поле ввода занимает все доступное пространство */
    padding-right: 40px; /* Увеличиваем отступ справа для совпадения с иконкой */
}

.password-container .eye-icon {
    width: 20px; /* Ширина иконки */
    height: 20px; /* Высота иконки */
    cursor: pointer; /* Указатель при наведении */
    margin-left: 5px; /* Отступ между полем и иконкой */
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Центрировать элементы по вертикали */
    margin-bottom: 15px;
    text-align: left;
}

input, select {
    flex: 1; /* Поля ввода растягиваются, занимая доступное пространство */
    height: 40px; /* Установка одинаковой высоты */
    padding: 10px;
    margin: 0; /* Убираем все отступы */
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Учитывать отступы и границы */
    margin-left: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100px; /* Фиксированная ширина для кнопок */
    height: 40px; /* Фиксированная высота для всех кнопок */
    margin-left: 10px; /* Отступ между полем ввода и кнопкой */
}

button.email-button, button.edit-button {
    width: 100px; /* Убедитесь, что кнопки имеют одинаковую ширину */
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Позволяет элементам обтекать друг друга */
    margin-bottom: 15px;
    text-align: left;
    padding-left: 10px; /* Отступ слева для выравнивания */
    box-sizing: border-box; /* Учитывает отступы и границы */
}

.label-container select, .label-container .edit-button, .label-container .save-button {
    flex: 1; /* Растягивает элементы, чтобы лучше использовать пространство */
    min-width: 150px; /* Минимальная ширина для select и кнопок */
    margin-left: 10px; /* Отступы между полями и кнопками */
}


