body {
    background-color: white;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Устанавливает минимальную высоту для body */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff; /* Синий цвет для шапки */
    padding: 10px 20px;
}

.header-container h1 {
    color: white; /* Белый цвет текста в шапке */
}

.container h1 {
    color: #007bff; /* Синий цвет заголовка формы */
}

main {
   flex-grow: 1; /* Позволяет main занимать оставшееся пространство */
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-top: 20px; /* Отступ сверху для главного содержимого */
   padding-bottom: 20px; /* Отступ снизу для главного содержимого */
}

label {
   display: block; /* Каждый label занимает новую строку */
   text-align: left; /* Выровнять текст слева */
}

input {
   width: calc(100% - 22px); /* Уменьшите ширину на общий размер границ и отступов */
   padding: 10px;
   margin-top: 5px; /* Отступ сверху для полей ввода */
   margin-bottom: 15px; /* Отступ снизу для полей ввода */
   border-radius: 5px; /* Закругленные края для полей ввода */
   border: 1px solid #ccc; /* Цвет границы полей ввода */
}

input[type="file"] {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    margin-bottom: 15px;
}

.description {
    width: calc(100% - 22px); /* Уменьшите ширину на общий размер границ и отступов */
    padding: 10px;
    margin-top: 5px; /* Отступ сверху для полей ввода */
    margin-bottom: 15px; /* Отступ снизу для полей ввода */
    border-radius: 5px; /* Закругленные края для полей ввода */
    border: 1px solid #ccc; /* Цвет границы полей ввода */
    height: 100px;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #f8f8f8;
    border: 2px solid #007bff; /* Синий цвет границы */
    border-radius: 15px; /* Закругленные края */
    padding: 20px; /* Отступ внутри контейнера */
    width: 50%; /* Ширина контейнера */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box; /* Учитывает отступы и границы */
    margin: 20px auto; /* Центрирует контейнер с отступами сверху и снизу */
}

button {
   background-color: #007bff; /* Синяя кнопка */
   color: white;
   border: none;
   border-radius: 5px; /* Закругленные края кнопки */
   padding: 10px;
   cursor: pointer;
   width: 97%;
}

button:hover {
   background-color: #0056b3; /* Темнее при наведении */
}

footer {
   text-align: left; /* Выровнять текст в подвале слева */
   padding: 10px 20px;
   background-color: #007bff; /* Синий цвет для подвала */
   color: white; /* Белый цвет текста в подвале */
}

.required {
    color: red; /* Красный цвет для символа * */
    margin-left: 5px; /* Отступ слева для символа поля */
}