body {
    background-color: white;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Устанавливает минимальную высоту для body */
}

.container {
    background-color: #f8f8f8;
    border: 2px solid #007bff; /* Синий цвет границы */
    border-radius: 15px; /* Закругленные края */
    padding: 20px; /* Отступ внутри контейнера */
    width: 85%; /* Ширина контейнера */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box; /* Учитывает отступы и границы */
    margin: 20px auto; /* Центрирует контейнер с отступами сверху и снизу */
}

th {
    padding: 10px; /* Общие отступы для всех ячеек */
    width: 16.6%;
    border: 1px solid #007bff; /* Граница ячеек таблицы */
    text-align: center; /* Выравнивание текста по левому краю */
}

th {
    background-color: #007bff; /* Цвет фона заголовка */
    color: white; /* Цвет текста заголовка */
}

td {
    padding: 1px; /* Уменьшите значение padding по желанию */
}

.header-two {
    background-color: #007bff; /* Цвет фона заголовка */
    color: white; /* Цвет текста заголовка */
    padding: 10px 10px; /* Общие отступы для всех ячеек */
    border: 1px solid #007bff; /* Граница ячеек таблицы */
    text-align: center; /* Выравнивание текста по левому краю */
    width: 17%;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff; /* Синий цвет для шапки */
    padding: 10px 20px;
}

.header-container h1 {
    color: white; /* Белый цвет текста в шапке */
}

.container h1 {
    color: #007bff; /* Синий цвет заголовка формы */
}

main {
    flex-grow: 1; /* Позволяет main занимать оставшееся пространство */
    display: flex;
    justify-content: center;
    align-items: start; /* Выровнять по верхнему краю */
    text-align: center;
    padding-top: 20px; /* Отступ сверху для главного содержимого */
    padding-bottom: 20px; /* Отступ снизу для главного содержимого */
}

label {
    display: flex; /* Используем Flexbox для кнопок и текста */
    justify-content: space-between; /* Размещаем текст и кнопку по краям */
    align-items: center; /* Центрируем по вертикали */
    margin-bottom: 15px; /* Отступ между элементами */
}

input {
    width: calc(100% - 22px); /* Уменьшите ширину на общий размер границ и отступов */
    padding: 10px;
    margin-top: 5px; /* Отступ сверху для полей ввода */
    margin-bottom: 15px; /* Отступ снизу для полей ввода */
    border-radius: 5px; /* Закругленные края для полей ввода */
    border: 1px solid #ccc; /* Цвет границы полей ввода */
}

.big-buttons {
    background-color: #007bff; /* Синяя кнопка */
    color: white;
    border: none;
    border-radius: 5px; /* Закругленные края кнопки */
    padding: 10px;
    cursor: pointer;
    width: 97%;
    margin-top: 10px;
}

 .button {
    background-color: #007bff; /* Синяя кнопка */
    color: white;
    border: none;
    border-radius: 5px; /* Закругленные края кнопки */
    padding: 10px;
    cursor: pointer;
    text-align: center; /* Центрируем текст */
    flex: 1; /* Кнопки занимают одинаковую ширину */
    font-size: 14px; /* Размер шрифта*/
    width: 40%;
    text-decoration: none; /* Убираем подчеркивание */
}

.open_button:hover, .button:hover {
    background-color: #0056b3; /* Темнее при наведении */
}

.open_button {
    background-color: #007bff; /* Синяя кнопка */
    color: white;
    border: none;
    border-radius: 5px; /* Закругленные края кнопки */
    padding: 10px;
    cursor: pointer;
    text-align: center; /* Центрируем текст */
    font-size: 14px; /* Размер шрифта*/
    width: 50%;
    text-decoration: none; /* Убираем подчеркивание */
}

button:hover {
    background-color: #0056b3; /* Темнее при наведении */
}


.add-button, .email-button {
    background-color: #007bff; /* Синяя кнопка */
    color: white;
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругленные края кнопки */
    padding: 5px 10px; /* Отступы внутри кнопки */
    cursor: pointer; /* Указатель при наведении */
    margin-left: 10px; /* Отступ слева от кнопки */
}

.add-button:hover, .email-button:hover {
    background-color: #0056b3; /* Темнее при наведении */
}

.results-container {
    max-height: 320px; /* Максимальная высота для прокрутки */
    overflow-y: auto; /* Вертикальная прокрутка */
    border: 2px solid #007bff; /* Синий цвет границы */
    border-radius: 15px; /* Закругленные края */
    padding: 10px; /* Отступ внутри */
    background-color: #f8f8f8; /* Цвет фона */
    margin-bottom: 15px; /* Отступ снизу перед следующими элементами */
}

.result-item {
    display: flex; /* Используем Flexbox для расположения элементов */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Центрируем по вертикали */
    border: 1px solid #ccc; /* Цвет границы элемента */
    border-radius: 10px; /* Закругленные края */
    padding: 10px; /* Отступы внутри элемента */
    margin-bottom: 10px; /* Отступ между элементами */
}

.button-container {
    display: flex; /* Используем Flexbox для кнопок */
    justify-content: space-between; /* Располагаем кнопки по краям */
}

footer {
   text-align: left; /* Выровнять текст в подвале слева */
   padding: 10px 20px;
   background-color: #007bff; /* Синий цвет для подвала */
   color: white; /* Белый цвет текста в подвале */
}