body {
    background-color: white;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Устанавливает минимальную высоту для body */
}

.search-container {
    display: flex; /* Используйте Flexbox для размещения в строке */
    align-items: center; /* Центрируем элементы по вертикали */
    gap: 10px; /* Отступы между элементами */
    width: 100%; /* Занимает всю доступную ширину */
}
.form{
    display: flex; /* Используйте Flexbox для размещения в строке */
    align-items: center; /* Центрируем элементы по вертикали */
    gap: 20px; /* Отступы между элементами */
    width: 100%; /* Занимает всю доступную ширину */
    padding: 10px;
    justify-content: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff; /* Синий цвет для шапки */
    padding: 10px 20px;
}

.header-container h1 {
    color: white; /* Белый цвет текста в шапке */
}

.container h1 {
    color: #007bff; /* Синий цвет заголовка формы */
}

main {
   flex-grow: 1; /* Позволяет main занимать оставшееся пространство */
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-top: 20px; /* Отступ сверху для главного содержимого */
   padding-bottom: 20px; /* Отступ снизу для главного содержимого */
}

label {
   display: block; /* Каждый label занимает новую строку */
   text-align: left; /* Выровнять текст слева */
}

input {
   width: calc(85% - 22px); /* Уменьшите ширину на общий размер границ и отступов */
   padding: 10px;
   margin-top: 5px; /* Отступ сверху для полей ввода */
   margin-bottom: 15px; /* Отступ снизу для полей ввода */
   border-radius: 5px; /* Закругленные края для полей ввода */
   border: 1px solid #ccc; /* Цвет границы полей ввода */
    float: left;
}

button {
   background-color: #007bff; /* Синяя кнопка */
   color: white;
   border: none;
   border-radius: 5px; /* Закругленные края кнопки */
   padding: 10px;
   cursor: pointer;
   width: 97%;

}

button:hover {
   background-color: #0056b3; /* Темнее при наведении */
}


.button {
    background-color: #007bff; /* Синяя кнопка */
    color: white;
    border: none;
    border-radius: 5px; /* Закругленные края кнопки */
    padding: 10px;
    cursor: pointer;
    display: inline-block; /* Чтобы ссылка вела себя как блочный элемент */
    text-align: center; /* Центрируем текст */
    text-decoration: none; /* Убираем подчеркивание */
    width: 85%; /* Ширина ссылки */
    margin: 0 auto; /* Центрируем по горизонтали */
}

.button:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}

.container {
    background-color: #f8f8f8;
    border: 2px solid #007bff; /* Синий цвет границы */
    border-radius: 15px; /* Закругленные края */
    padding: 20px; /* Отступ внутри контейнера */
    width: 80%; /* Ширина контейнера */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box; /* Учитывает отступы и границы */
    margin: 20px auto; /* Центрирует контейнер с отступами сверху и снизу */
}

th {
    padding: 10px; /* Общие отступы для всех ячеек */
    width: 14.2%;
    border: 1px solid #007bff; /* Граница ячеек таблицы */
    text-align: center; /* Выравнивание текста по левому краю */
}

th {
    background-color: #007bff; /* Цвет фона заголовка */
    color: white; /* Цвет текста заголовка */
}

footer {
   text-align: left; /* Выровнять текст в подвале слева */
   padding: 10px 20px;
   background-color: #007bff; /* Синий цвет для подвала */
   color: white; /* Белый цвет текста в подвале */
}

.search-input {
    flex: 80%; /* Позволяет полю ввода занимать все доступное пространство */
    padding: 10px;
    margin-top: 5px; /* Отступ сверху для полей ввода */
    margin-bottom: 15px; /* Отступ снизу для полей ввода */
    border-radius: 5px; /* Закругленные края для полей ввода */
    border: 1px solid #ccc; /* Цвет границы полей ввода */
}

.results-container {
    max-height: 320px; /* Максимальная высота для прокрутки */
    overflow-y: auto; /* Вертикальная прокрутка */
    border: 2px solid #007bff; /* Синий цвет границы */
    border-radius: 15px; /* Закругленные края */
    padding: 10px; /* Отступ внутри */
    background-color: #f8f8f8; /* Цвет фона */
}

.result-item {
    display: flex; /* Используем Flexbox для расположения элементов */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Центрируем по вертикали */
    border: 1px solid #ccc; /* Цвет границы элемента */
    border-radius: 10px; /* Закругленные края */
    padding: 10px; /* Отступы внутри элемента */
    margin-bottom: 10px; /* Отступ между элементами */
}

.participate-button {
    background-color: #007bff; /* Синяя кнопка */
    color: white;
    border: none;
    border-radius: 5px; /* Закругленные края кнопки */
    padding: 14px; /* Убедитесь, что достаточно отступов внутри кнопки */
    cursor: pointer;
    margin-bottom: 0; /* Убираем отступ снизу */
    width: 14%;
    float: right;
    justify-content: center;
}

.participate-button:hover {
    background-color: #0056b3; /* Темнее при наведении кнопки */
}

/* Стилизация прокрутки для WebKit-браузеров */
.results-container::-webkit-scrollbar {
    width: 6px; /* Устанавливает ширину скроллбара */
    margin-top: 5px;
    margin-bottom: 5px;
}

.results-container::-webkit-scrollbar-track {
    background: #f8f8f8; /* Цвет фона трека */
    border-radius: 4px; /* Закругленные края для трека */
}

.results-container::-webkit-scrollbar-thumb {
    background: #007bff; /* Цвет ползунка */
    border-radius: 4px; /* Закругленные края для ползунка */
}

.results-container::-webkit-scrollbar-thumb:hover {
    background: #0056b3; /* Цвет ползунка при наведении */
}

/* Стили для Firefox */
.results-container {
    scrollbar-width: thin; /* Задает ширину скроллбара (первичный вариант для Firefox) */
    scrollbar-color: #007bff #f8f8f8; /* Цвет ползунка и фона трека */
}
